# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp

# Virtualenv
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.iml

# OBS specific files
*.json

# Build folder
build/
dist/
*.egg-info/
